
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header ul {
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    background-color:hotpink;
    padding:10px 20px;
    margin:0 auto;
    width:100%;
   
}

 header ul,header nav ul li {
    padding: 0;
    margin: 0;
} 
header nav ul li {
    margin-right:30px;
   
}
header nav ul li:last-child{
    margin-right:0;

}

nav ul li.icon{
    flex-grow:0;
    
    
}
header li a{
    text-decoration:none;
    color:white;
    display:flex;
    align-items:center;
    
}

header li.icon a img {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    border: 2px solid white;  
    padding:5px;  
    background-color: hotpink; 
}

header li a:hover{
    color:black;
    text-decoration:underline;
    font-size: large;
}


.space{
    height:50px;
}

h1 {
    background-color: hotpink;
    padding: 10px 0;
    text-align: center;
    color:white;
    
    
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color: #333;
}

.job {
    margin-bottom: 10px;
}


main ul {
    list-style-type: none;
    padding: 0;
}

main ul li {
    background:#f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    header nav ul li {
        margin-right: 5px;
    }
}

footer{
    
    background-color:hotpink;
    width:100%;
    text-align:center;
    padding:10px;
    
} 